@import 'bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*carousel-shop*/
@media (min-width: 1440px) {
  .carousel-item-shop>div>img {
      max-height: 400px;
      width:40rem!important;
  }
  .carrusel{
    height:400px!important;
    width:40rem!important;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .carousel-item-shop>div>img {
      max-height: 325px;
  }
  .carrusel{
    height:325px!important;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .carousel-item-shop>div>img {
    max-height: 250px;
  }
  .carrusel{
    height:250px!important;
  }
}

@media (max-width: 426px) {
  .carousel-item-shop>div>img {
    max-height: 146px;
    width:70%;
  }
  .carrusel{
    height:146px!important;
    width:70%!important;
  }
}

/*DetailCompra*/
@media (max-width:560px) {
  .displaySm{
    flex-direction: column-reverse;
    align-items: center;
  }
  .resumeBuy{
    position: relative;
    margin-top: 0rem!important;
    z-index: 0;
    width: 100%!important;
  }
  .resumeBuy1{
    margin-top: 1rem!important;
    background-color: #212529;
    color: white;
    padding-left: 0;
    padding: 1rem!important;
  }
}

/*sidebar Admin*/
@media (max-width:560px) {
  .sidebarAdmin{
    flex: 0 0 auto;
    width: 8.33333333%;
  }
}

@media (max-width:560px) {
  .contentAdmin{
    flex: 0 0 auto;
    width: 91.77777777%;
  }
}